In [11]:
import pandas as pd
import numpy  as np
import pickle
import sklearn.model_selection as model_selection

In [9]:
with open('../cleaning/dataset.pickle', 'rb') as handle:
    tweet_numberized = pickle.load(handle)
    
tweet_numberized

                                                      X  y
0     [922, 1087, 149, 134, 200, 34, 565, 92, 69, 13...  1
1     [30, 367, 601, 943, 43, 1385, 415, 215, 119, 6...  1
2     [460, 930, 71, 23, 0, 12, 79, 11, 59, 20, 673,...  1
3                                          [39, 952, 0]  1
4     [1074, 198, 603, 1083, 0, 1720, 199, 9, 5, 7, ...  1
...                                                 ... ..
5879        [507, 1233, 0, 1234, 570, 1755, 1, 658, 82]  0
5880                                [1277, 558, 0, 108]  0
5881            [1189, 441, 776, 819, 0, 776, 558, 108]  0
5882                         [660, 272, 153, 1077, 213]  0
5883  [254, 1436, 0, 25, 96, 1561, 1, 0, 451, 1, 107...  0

[5884 rows x 2 columns]

In [23]:
X = list(tweet_numberized['X'])
y = list(tweet_numberized['y'])

#Finally we are going to apply one-hot encoding to X:
pass

#The final step is to split our dataset:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, train_size=0.8,test_size=0.2, random_state=101)

print('Train examples: ', len(X_train))
print('Test examples:  ', len(X_test))

Train examples:  4707
Test examples:   1177

Finally we have data splited in train/test and correcty formated.
We can start the deployment of our model